.footer{
    text-align: center;
    padding: 70px 0;
    color: gray;
    p{
        margin: 0;
    }
    i{
        margin: 0 12px 30px;
        font-size: 1.1em;
        transition: .3s ease-in-out;
        cursor: pointer;
        &:hover{
            transform: scale(1.2,1.2);
            color: black;
        }
    }
}